/*--------------Table links---------*/
.arrow-size{
	font-size: 16px;
}
a.sort-link, a.table-link{
	color: #636b6f;
	text-decoration: none;
}
a[href="#"].sort-link{
    color: #e6e6e6;
}
a.sort-link:hover, a.table-link:hover{
	color: #2E2E34;
}
a[href="#"].sort-link:hover{
	color: #adadad;
}

/*-------------Filters----------*/
.filter, .searchbar, .header-button{
	margin-top: 4px;
}
.searchbar{
	max-width: 480px;
}
.filter-block{
	border-top: 1px #ddd solid;
	margin-top: 10px;
	padding-top: 5px;
}
.filter-block label{
	width: 100%;
}



/*-------------Responsive settings----------*/
@media screen and (max-width: 767px) {
    .community{
		margin-bottom: 6px;
	}
}

@media screen and (min-width: 767px) {
    
}

@media (max-width: 480px) { 
   .col-xxs {
      display:block;
      float:none;
      width: 100%
   }
}