/*--------------Table links---------*/
.arrow-size{
	font-size: 16px;
}
a.sort-link, a.table-link{
	color: #636b6f;
	text-decoration: none;
}
a[href="#"].sort-link{
    color: #e6e6e6;
}
a.sort-link:hover, a.table-link:hover{
	color: #2E2E34;
}
a[href="#"].sort-link:hover{
	color: #adadad;
}

/*-------------Filters----------*/
.filter, .searchbar, .header-button{
	margin-top: 4px;
}
.filter, .searchbar{
	max-width: 480px;
}
.filter ul{
	max-height: 300px;
	overflow-y:auto; 
}
.filter li{
	padding-left: 15px;
	padding-right: 15px;
	cursor:pointer;
}
.filter button{
	width: 100%;
}
.filter div.selected{
	display: inline-block;
	vertical-align: middle;
	height: 1.6em;
	width: 90%;
	white-space: nowrap; 
	overflow: hidden;
    text-overflow: ellipsis;
}
.filter li:hover {
    color: #262626;
    background-color: #f5f5f5;
}

.filter-block{
	border-top: 1px #ddd solid;
	margin-top: 10px;
	padding-top: 5px;
}



/*-------------Responsive settings----------*/
@media screen and (max-width: 767px) {
    .community{
		margin-bottom: 6px;
	}
}

@media screen and (min-width: 767px) {
    
}

@media (max-width: 480px) { 
   .col-xxs {
      display:block;
      float:none;
      width: 100%
   }
}